body {
    background-color: black !important;
}

@font-face {
  font-family: 'starwars';
  src: url('./fonts/RedFive.otf') format('truetype');
}


h1, h2, h3, h4 {
    text-transform: none !important; 
    font-family: 'starwars' !important;
    text-shadow: none !important;
}

h1 {
    font-size: 6vw !important;
}

h2 {
    font-size: 4vw !important;
}

h3 {
    font-size: 5vw !important;
}

h4 {
    font-size: 4vw !important;
}


h1, h3, h4, h5, p {
    /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15) !important;*/
    color: #F7D70A !important;

}

h2 {
      font-family: 'arial' !important;
      text-align: left;
    /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15) !important;*/
    color: #88ccff !important;

}


h3, h4, h5 {
/*    -webkit-transform: skew(0deg, 20deg);
    -moz-transform: skew(0deg, 20deg);
    -o-transform: skew(0deg, 20deg);
    -ms-transform: skew(0deg, 20deg);
    transform: skew(0deg, 20deg);

    -webkit-transform: perspective(20px);
    -moz-transform: perspective(20px);
    -o-transform: perspective(20px);
    -ms-transform: perspective(20px);
    transform: perspective(20px);
*/
    -webkit-transform: perspective( 600px ) rotateX( 35deg );

}

img.darker {
    filter: saturate(50%);
}


.reveal pre code {
	/*font-size: 0.9em;*/
}

.reveal section img.noborder {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0);
  border: 0 solid #333;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

#video-background {
	display: block;
    background-image: url("img/ink.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    -o-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
}